body {
  margin: 12px 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: auto;
  background-color: grey;

  display: flex;
  flex-direction: column;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.header {
  height: 50px;
  padding: 10px;
  position: relative;
}

.stuck {
  position: fixed;
  top: 0;
  width: 100%;
}

.stuck .header {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.stuck .header.green {
  top: 70px;
  z-index: 1;
}

.stuck .header.purple {
  top: 140px;
  z-index: 2;
}

.body {
  padding: 10px;
  background-color: white;
  flex: 1;
}