<div class="height-wrapper" style={{if isSticky heightStyle}}>
  <div class="sticky-wrapper {{if isSticky stickyClass}}" style={{if isSticky wrapperStyle}}>
    {{yield isSticky enabled}}
  </div>
</div>